<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex> <!--average consumption input field-->
    <div fxLayoutAlign="center" fxFlex>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Average consumption</mat-label>
        <input matInput type="number" placeholder="when start driving with a low battery" min="1" step="0.1" [(ngModel)]="averageConsumption" (ngModelChange)="inputChanged()"
               appTwoDigitDecimaNumber>
        <span matSuffix>l/100km</span>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxFlex> <!--fuel price input field-->
    <div fxFlex>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Fuel price</mat-label>
        <input matInput type="number" placeholder="1.82" step="0.1" [(ngModel)]="fuelPrice" (ngModelChange)="inputChanged()" appTwoDigitDecimaNumber>
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxFlex>
    <div fxFlex fxLayoutAlign="center">
      <mat-form-field appearance="fill" class="input-field"><!-- &lt;!&ndash;price pro 100 km output field&ndash;&gt;-->
        <mat-label>Price / 100 km</mat-label>
        <!--<input #outputConsumption matInput disabled [value]="consumption" [style.color]=mycolor />-->
        <input matInput disabled [value]=consumption [style.color]=outputColor /> <!--fuelPrice*averageConsumption-->
        <span matSuffix>€ / 100 km</span>
      </mat-form-field>
    </div>
  </div>
</div>


