<div fxLayoutAlign="center">
  <div fxFlexFill>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Why &nbsp;<i>practical</i>&nbsp; Hybrid Car Cost Explorer?
          </mat-panel-title>
          <!--<mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>


        <p>
          Have you ever wondered how much your savings are when you charge your hybrid car before a long trip?
        </p>
        <p>
          Have you ever tried to use some formulas to predict the distance but end up with a different experience?
        </p>
        <p>
          We too.
        </p>
        <p>
          The problem is, that it heavily depends on your driving style, the weather, the condition of your battery, air conditioning, the sensors on your car, if it’s day or night, and many more environmental factors. The worst thing? It changes! As it becomes winter, the energy consumption behavior of the car changes, and with that also the economics of how to operate that car.
        </p>
        <p>
          My personal prediction was that I am able to drive 800 to 900 km without refueling - not quite right! Missed by a whole 300km - damn math! Just Joking.
        </p>
        <p>
          In other words: <strong>calculating savings or cost-effectiveness with theoretical numbers is nonsense.</strong>
        </p>



      </mat-expansion-panel> <!-- Why “practical”?-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How to use the section Combustion Motor, Electric Motor, and Hybrid mode?
          </mat-panel-title>
          <!--<mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>


        <h3>Combustion Motor & Electric Motor: </h3>


        <p>
          The section <em>Combustion Motor</em> was designed to easily compare the cost-effectiveness against the Electic Motor (and vice versa).
        </p>
        <p>
          <strong>Combustion </strong>step by step:
        </p>
        <ol>

          <li>After a drive with an empty battery

          <li>Fill in the data for the section Combustion Motor
          </li>
        </ol>
        <p>
          <strong>Electric</strong> step by step:
        </p>
        <ol>

          <li>After a drive with a full charged battery

          <li>Fill in the data for the section Electric Motor
          </li>
        </ol>
        <p>
          The results are normalized to a 100km distance to make them comparable.
        </p>
        <p>
          Especially for short distances, such as city driving, it's straightforward to determine the effectiveness AND most importantly no theoretical values, it’s your personal driving style that is used to calculate all figures.
        </p>
        <h3>Hybrid Mode: </h3>


        <p>
          The <em>Hybrid mode </em>section has two features:
        </p>
        <ol>

          <li>It calculates the normalized price on a 100km bases to make the figures comparable to the combustion and electric-only consumption.
          </li>
        </ol>
        <p>
          This is useful to calculate the actual costs when your engine switches between the electric and combustion engines. May you figure out, that overriding the default behavior so that your car stays in electric-only mode is better ;)
        </p>
        <p>
          The field to look at is the normalized price field. Check out the <em>simple prediction </em>section you gain more insights.
        </p>
        <ol>

          <li>It can be used to empirically determine the actual costs of a distance
          </li>
        </ol>
        <p>
          This is useful to calculate the actual costs if your engine switches between the electric and combustion engines.
        </p>
        <p>
          Step by step:
        </p>
        <ol>

          <li>Fill the <em>Combustion Motor</em> section

          <li>Fill the<em> Electric Motor</em> section

          <li>Enter the distance you drove

          <li>Enter the combustion consumption
          </li>
        </ol>
        <p>
          The field to look at is the full price field.
        </p>


      </mat-expansion-panel> <!-- How to use the section Combustion Motor, Electric Motor, and Hybrid mode? -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What are my actual savings from a full charge before a long drive?
          </mat-panel-title>
          <!--<mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>

        <p>
          Step by step:
        </p>
        <ol>

          <li>Fill out the <em>Combustion Motor </em>and <em>Electric Motor</em> section  (we need some figures for the calculation)

          <li>Fill out the<em> Hybrid mode</em> section<strong> right after your trip.</strong>
          </li>
        </ol>
        <p>
          You should see a result in the full price field<strong>. </strong>
        </p>
        <p>
          So what are your savings? You can use the <em>simple predictions</em> section to set it into contrast to your electric-only or combustion-only figures.
        </p>
        <p>
          You enter the amount of km you have entered into the distance of the route<em> </em>field and compare the full price field of the hybrid section with the Only Combustion Motor entry from the prediction table.
        </p>


      </mat-expansion-panel> <!-- What are my actual savings from a full charge before a long drive? -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How much cheaper is it to drive short distances using only the electric motor?
          </mat-panel-title>
          <!--<mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>


        <p>
          Step by step:
        </p>
        <ol>

          <li>Fill the <em>Combustion Motor</em> section

          <li>Fill the <em>Electic mode</em> section


          <li>There you have it, the form field <em>Price / 100 km</em> should give you the answer.
          </li>
        </ol>
        <p>
          If you want to down-scale or up-scale the numbers to e.g., 34km, you can easily use the <em>prediction</em> section.
        </p>



      </mat-expansion-panel> <!-- How much cheaper is it to drive short distances using only the electric motor? -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What are the cost savings from hybrid driving compared to combustion-only driving?
          </mat-panel-title>
          <!--<mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>-->
        </mat-expansion-panel-header>


        <p>
          Step by step:
        </p>
        <ol>

          <li>Fill the <em>Combustion Motor </em>section

          <li>Fill the Electric Motor section

          <li>Fill the <em>Hybrid mode </em>section

          <li>You can quickly compare the effectiveness by comparing the fields that normalize your result to a 100 km distance.
          </li>
        </ol>
        <p>
          If you want to gain more insights you can use the <em>simple prediction </em>section.
        </p>


      </mat-expansion-panel> <!-- What are the cost savings from hybrid driving compared to combustion-only driving? -->
    </mat-accordion>
  </div>
</div>

