<div class="footer" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center" fxLayoutGap="5px">
    <a mat-stroked-button href="https://gitlab.com/Kretscho/practical-hybrid-car-cost-explorer" target="_blank"> <img src="assets/icons/gitlab-svgrepo-com.svg" class="gitlab"> Code @ Gitlab</a>
    <a mat-stroked-button href="mailto:contact-project+kretscho-practical-hybrid-car-cost-explorer-37818885-issue-@incoming.gitlab.com" target="_blank"> <span class="material-symbols-outlined">mail</span> Any questions?</a>
  </div>
</div>
