 .container
 {
   background-color: lightgray;
 }
 .content
 {
   margin-left: 5%;
   margin-right: 5%;
 }

 .logo
 {
   width: 80%;
   min-width: 240px;
   max-width: 200px;
   margin-left: 20%;
 }

 @media only screen and (max-width: 599px) {
   .text
   {
     text-align: center;
   }

   .logo
   {
     width: 100%;
     max-width: 200px;
     margin-left: 0%;
   }
 }
