<div fxLayout="column">
  <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    <div fxLayoutAlign="center center">
      <img src="../../assets/icons/logo.png" class="logo">
    </div>
    <div class="content">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column"> <!-- fxFlex="1 1 auto" -->
      <div class="text">
        <h1>The Practical Hybrid Car Cost Explorer</h1>
        <p>This app helps to quickly estimate and compare the economic cost-effectiveness of your hybrid vehicle's combustion and electric engine. </p>
        <p>Have you ever wondered:
          <br>
          <span class="material-symbols-outlined">psychology_alt</span>
          <i>"What is my actual savings from a full charge before a long drive?"</i>
          <br>
          <span class="material-symbols-outlined">psychology_alt</span>
          <i>"How much cheaper is it to drive short distances using only the electric motor?"</i>
          <br>
          <span class="material-symbols-outlined">psychology_alt</span>
          <i>"What are the cost savings from hybrid driving compared to combustion-only driving?" </i><br>
          Let's find out.</p>
        <p>Your personal driving style is used as input for the calculation. #NoTheoreticalValues.<p>
        <p>Lucky you! Today, no difficult spreadsheets and calculations.</p>
        <p>I bet you make it in less than one minute <span class="material-icons">rocket_launch</span></p>
      </div>
    </div>
  </div>
  </div>
</div>

