<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxFlex> <!--average consumption input field-->
    <div fxLayoutAlign="center" fxFlexFill>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Maximum distance</mat-label>
        <input matInput type="number" placeholder="max. distance after full charge" min="1" step="0.5" [(ngModel)]="maxDistanceEOnly" (ngModelChange)="inputChanged()"
               appTwoDigitDecimaNumber>
        <span matSuffix>km</span>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxFlex> <!--fuel price input field-->
    <div fxFlex>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Full charge price</mat-label>
        <input matInput type="number" placeholder="4.55" step="0.1" [(ngModel)]="fullChargePrice" (ngModelChange)="inputChanged()" appTwoDigitDecimaNumber>
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxFlex>
    <div fxFlex fxLayoutAlign="center">
      <mat-form-field appearance="fill" class="input-field"> <!--price pro 10 km output field-->
        <mat-label>Price / 100 km</mat-label>
        <input matInput disabled  class="test" [value]="consumption" [style.color]=outputColor> <!--data-status="{{status}}"-->
        <span matSuffix>€ / 100 km</span>
      </mat-form-field>
    </div>
  </div>
</div>


