<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
  <div>
    <app-welcome-screen></app-welcome-screen>
  </div>

  <div fxLayout="row"  fxLayoutGap="10px" fxLayout.xs="column" class="content">
    <div fxFlex>
      <h1 fxLayoutAlign="center center" >Combustion Motor&nbsp; <span class="material-symbols-outlined">local_fire_department</span> </h1>
      <app-only-combustion></app-only-combustion>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxFlex>
      <h1 fxLayoutAlign="center center">Electric Motor&nbsp;<span class="material-symbols-outlined">electric_bolt</span> </h1>
      <app-only-e></app-only-e>
    </div>
  </div>

  <mat-divider class="content"></mat-divider>
  <div fxLayout="row"  fxLayoutGap="10px" fxLayout.xs="column" fxFlex class="content">
    <div fxFlex>
      <h1 fxLayoutAlign="center center" >Hybrid mode&nbsp;<span class="material-symbols-outlined">electric_bolt</span> <span class="material-symbols-outlined">local_fire_department</span> </h1>
      <app-hybrid></app-hybrid>
    </div>
  </div>

  <mat-divider class="content"></mat-divider>

  <div fxLayout="row"  fxLayoutGap="10px" fxLayout.xs="column" fxFlex class="content">
    <div fxFlex>
      <h1 fxLayoutAlign="center center" >Simple predictions?&nbsp; <span class="material-symbols-outlined">auto_mode</span> </h1>
      <app-target-distance-converter></app-target-distance-converter>
    </div>
  </div>

  <mat-divider class="content"></mat-divider>
  <div class="content">
    <h1 fxLayoutAlign="center center" >FAQ&nbsp; <span class="material-symbols-outlined">quiz</span> </h1>
    <app-faq [style.display]=isFaqHidden ></app-faq>
  </div>
  <div fxLayout="column" >
    <app-footer fxFlexOffset="auto"></app-footer>
  </div>

</div>

<!--<div class="footer">-->
<!--  <app-footer></app-footer>-->
<!--</div>-->



