.content
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

/*.footer {*/
/*  background-color: #c0c0c0;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*  height: 50px;*/
/*  width: 100%;*/
/*  overflow: hidden;*/
/*}*/

@media only screen and (max-width: 599px) {
  .content
  {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /*.footer {*/
  /*  position: relative;*/
  /*}*/

}

@media only screen and (max-width: 959px) {
  .content
  {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /*.footer {*/
  /*  position: relative;*/
  /*}*/

}
