<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <div fxLayoutAlign="center" fxFlex>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Distance of route</mat-label>
        <input matInput type="number" [value]="distance"
               placeholder="distance must be larger your max e distance ( >{{maxDistanceEOnly}} km)" min="1" step="1"
               [(ngModel)]="distance" (ngModelChange)="inputChanged()" (click)="inputChanged()"
               appTwoDigitDecimaNumber>
        <span matSuffix>km</span>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex> <!--average consumption input field-->
      <div fxLayoutAlign="center" fxFlex>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Average consumption</mat-label>
          <input matInput type="number" placeholder="started with full battery" min="1" step="0.1"
                 [(ngModel)]="averageConsumption" (ngModelChange)="inputChanged()"
                 appTwoDigitDecimaNumber>
          <span matSuffix>l/100km</span>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--  <div fxLayout="row" fxFlex>
      <div fxFlex fxLayoutAlign="center">
        <mat-form-field appearance="fill" class="input-field">&lt;!&ndash; &lt;!&ndash;price pro 100 km output field&ndash;&gt;&ndash;&gt;
          <mat-label>Price / 100 km</mat-label>
          <input matInput disabled [value]="consumption" /> &lt;!&ndash;fuelPrice*averageConsumption&ndash;&gt;
          <span matSuffix>€ / 100 km</span>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxFlex> &lt;!&ndash;fuel price input field&ndash;&gt;
      <div fxFlex>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label >Full charge price</mat-label>
          <input matInput disabled type="number" placeholder="4.55" step="0.1" [(ngModel)]="fullChargePrice" (ngModelChange)="inputChanged()" appTwoDigitDecimaNumber>
          <span matSuffix>€</span>
        </mat-form-field>
      </div>
    </div>-->
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <div fxLayout="row" fxFlex> <!--fuel price input field-->
      <div fxFlex>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label># of full electric charges</mat-label>
          <input matInput type="number" placeholder="1" step="1" [(ngModel)]="countOfFullCharges"
                 (ngModelChange)="inputChanged()" appTwoDigitDecimaNumber>
          <span matSuffix># of full charges</span>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxFlex> <!--fuel price input field-->
      <div fxFlex>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label># of electric km remaining</mat-label>
          <input matInput type="number" placeholder="1" step="1" [(ngModel)]="countOfKmRemaining"
                 (ngModelChange)="inputChanged()" appTwoDigitDecimaNumber>
          <span matSuffix># of km remaining</span>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--  <div fxLayout="row" fxFlex>-->
  <!--    <div fxFlex fxLayoutAlign="center">-->
  <!--      <mat-form-field appearance="fill" class="input-field">&lt;!&ndash; &lt;!&ndash;price pro 100 km output field&ndash;&gt;&ndash;&gt;-->
  <!--        <mat-label>kms remaining converted to money</mat-label>-->
  <!--        <input matInput disabled [value]="savingCountOfKmRemainingInMoney" /> &lt;!&ndash;fuelPrice*averageConsumption&ndash;&gt;-->
  <!--        <span matSuffix>€ / 100 km</span>-->
  <!--      </mat-form-field>-->
  <!--    </div>-->
  <!--  </div>-->

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <div fxFlex fxLayoutAlign="center">
      <mat-form-field appearance="fill" class="input-field"><!-- &lt;!&ndash;price pro 100 km output field&ndash;&gt;-->
        <mat-label>Full Price ({{distance}} km)</mat-label>
        <input matInput disabled [value]="hybridFullPrice"/> <!--fuelPrice*averageConsumption-->
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
    <div fxFlex fxLayoutAlign="center" fxLayoutGap="10px">
      <mat-form-field appearance="fill" class="input-field"><!-- &lt;!&ndash;price pro 100 km output field&ndash;&gt;-->
        <mat-label>Price / 100 km </mat-label>
        <input matInput disabled [value]="hybridNormalizedPrice" [style.color]=outputColor/> <!--fuelPrice*averageConsumption-->
        <span matSuffix>€</span>
      </mat-form-field>
    </div>
  </div>
</div>
