/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}
html, body { height: 100%; }

h1
{
  color: #2e3b83;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
