<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Do you want to simply extrapolate the numbers to gain more insights?
        </mat-panel-title>
        <!--<mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>-->
      </mat-expansion-panel-header>


      <div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Calculate all numbers on target distance?</mat-label>
          <input matInput type="number" placeholder="Calculate all numbers on target distance?" min="1" step="0.5"
                 [(ngModel)]="targetDistance" (ngModelChange)="inputChanged()"
                 appTwoDigitDecimaNumber>
          <span matSuffix>km</span>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->


          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef> Distance (km) </th>
            <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result (€) </th>
            <td mat-cell *matCellDef="let element"> {{element.result}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
